/*GLOBALES*/
html{
    font-family:Helvetica;
    
}
body{
    background-color: #E7E7E7;
    margin: 0;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1{
    margin: 0;
}
p{
    margin: 0;
    font-size: 15px;
}
.strong{
    font-weight: 700;
}
/*TITULO*/
.contenido__titulo{
    width: 600px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.titulo{
    /* display: block; */
    background-color: white;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}
/*CONTENEDOR*/
.contenedor{
    width: 600px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
}
.medio{
    height: 400px;
}
.arriba, .abajo{
    height: 50px;

}
.arriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.abajo {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    border-top: 1px solid #E7E7E7;
}
.arriba__fecha{
    color: #C2C2C2;
}
.arriba__titulo{
    font-size: 20px;

}

